/*
Theme Name: SCHOLZworks
Author: SCHOLZworks
Description: SCHOLZworks
Version: 1.0
Text Domain: scholzworks
*/

@import url('css/materialize.css');
@import url('css/main.css');
@font-face { font-family: OCRAStd; src: url("font/OCRAStd.otf") format("opentype"); }

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@media only screen and (max-width: 992px) {
nav .brand-logo {
    left: 57% !important;
    transform: translateX(-50%);
}
}
.slider .indicators {
	z-index: 500 !important;
}

.slider .indicators .indicator-item.active {
    background-color: #ff5400 !important;
}
.slider .slides h3 span{
    background-color: rgba(0, 0, 0, 0.5);
	line-height: 130%;
}

@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: 70px !important;
    }
}

div#aside.pinned {
	top: 70px !important;
}
.side-nav li:hover, .side-nav li.active {
    background-color: #FFFFFF;
}

nav ul li a:hover.card {
    background-color: #FFFFFF;
}

.slider .slides h2 span{
    background-color: rgba(0, 0, 0, 0.5);
}

.slider .slides logo span{
   background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-repeat : repeat;
    background-size : auto auto;
}

.slider {
	height: auto !important;
}
.material-tooltip {
	z-index:500 !important;
}
body {
	background-color:#EDEDED !important
 }
.title-banner h1, h2, h3, h4{
	margin-top: 0px !important;
	padding-top: 10px;
	padding-bottom:10px;
}
nav .row  h1 {
	font-size: 38px !important;
	padding-top: 10px !important;
	padding-bottom:10px !important;
	margin: 0px !important;
}

.breadcrumb {
	color:black !important;
}

logo {
	font-family: 'OCR A Std';
    font-weight: 100;
	letter-spacing: -3.0px;
}

.breadcrumb:before {
	color:black !important;
}

.icon-block {
  padding: 0 15px;
}

@media only screen and (min-width: 993px) {
	.no {
		width: 96% !important;
	}
}
@media only screen and (min-width: 601px) {
	.no {
		width: 96% !important;
	}
}
        iframe {
            width: 100%;
            height: 100%;
            display: block;
            border: none;
        }
        .devices {
            padding-top: 100px;
            padding-bottom: 40px;
            overflow: hidden;
            width: 840px;
            margin-left: auto;
            margin-right: auto;
        }
        .device-ios, .device-android {
            float: left;
        }
        .device-ios {
            width: 320px;
            height: 640px !important;
            background: #111;
            border-radius: 55px;
            box-shadow: 0px 0px 0px 2px #aaa;
            padding: 105px 20px;
            position: relative;
            margin-right: 80px;
        }
        .device-ios:before {
            content: '';
            width: 60px;
            height: 10px;
            border-radius: 10px;
            position: absolute;
            left: 50%;
            margin-left: -30px;
            background: #333;
            top: 50px;
        }
        .device-ios:after {
            content: '';
            position: absolute;
            width: 60px;
            height: 60px;
            left: 50%;
            margin-left: -30px;
            bottom: 20px;
            border-radius: 100%;
            box-sizing: border-box;
            border: 5px solid #333;
        }
        .device-android {
            width: 360px;
            height: 640px;
            position: relative;
            background: #111;
            padding: 60px 20px;
            box-shadow: 0px 0px 0px 2px #aaa;
            border-radius: 20px;
        }
        .device-android:before {
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            margin-left: -7px;
            background: #666;
            top: 25px;
        }
        .device-android:after {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            left: 50px;
            background: #444;
            top: 30px;
        }
        .button {
            position: absolute;
            width: 200px;
            margin-left: -100px;
            left: 50%;
            top: -44px;
            margin-top: -30px;
            box-sizing: border-box;
            text-align: center;
            line-height: 44px;
            border-radius: 3px;
            text-decoration: none;
            color: blue;
            font-size: 14px;
        }
        .device-ios .button {
            border: 1px solid #007aff;
            color: #007aff;
        }
        .device-ios .button:active {
            background: rgba(0, 122, 255, 0.15);
        }
        .device-android .button {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            color: #2196f3;
            text-transform: uppercase;
        }
        .device-android .button:active {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            background: rgba(0, 0, 0, 0.1);
        }
		
	.device-h {
    max-width: 1024px;
    padding: 30px 80px;
    border-radius: 30px;
}

.device-h:after {
    left: auto;
    right: 10px;
    bottom: auto;
    top: 50%;
    margin-left: 0;
    margin-top: -30px;
}

.device-h:before {
    width: 10px;
    height: 60px;
    top: 50%;
    margin-left: auto;
    margin-top: -30px;
    left: 35px;
}

.promo i {
    color: #ee6e73;
    font-size: 6rem;
    display: block;
}




.hovereffect {
width: auto;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width: 280px;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .2s linear;
}

.hovereffect h3 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:20px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:70px 0 0;
padding:7px 14px;
}


.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;

}

.hovereffect:hover h3,.hovereffect:hover img.hover-img {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover img.hover-img {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.hover-img {
	margin-left:auto;
	margin-right:auto;
	margin-top:110px;
	max-width: 50%;
}

.icon-panel {
	margin-left:5px !important;
	margin-right:5px !important;
}

.icon-block h2, h4 {
	padding:0px !important;
	margin:0px !important;
}

.slider .slides li .caption {
    max-width: 600px;
}

.chip {
	margin: 3px 0px 3px 0px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.comments-area article header {
	margin: 0 0 48px;
	overflow: hidden;
	position: relative;
	background-color:#55737D;
	color:#FFFFFF;
	padding: 10px;
}

.widget {}

.widget_calendar {
	
}
#calendar_wrap {
	
}
#calendar_wrap th {
	
}
#calendar_wrap td {
	
}
#wp-calendar tr td {
	
}
#wp-calendar caption {
	
}
#wp-calendar a {
	
}
#wp-calendar #today {
	
}
#wp-calendar #prev {
	
}
#wp-calendar #next {
	
}
#wp-calendar #next a {
	
}
#wp-calendar #prev a {
	
}
