/* =Material Pricing table
-------------------------------------------------------------- */

/* STYLE 1 */
.pricing.style-1 .price {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
/* STYLE 2 */
.pricing.style-2 .plan-title {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
/* STYLE 3 */
.pricing.style-3 .plan-title {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;  
    padding: 10px 0;
}
.pricing.style-3 .price {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;    
}
.pricing.style-3 .plan-signup-btn {
    position: absolute;
    bottom: 80px;
    right: 20px;
}

/* COMMON STYLE */
.pricing .price {
    padding: 15px 0;
}
.pricing .price h4,
.pricing .plan-title h5{
    text-align: center;
}
.pricing .price span,
.pricing .plan-title span{
    display: inline-block;
    position: relative;
}
.pricing .plan-title span.plan{
    font-size: 25px;
    font-weight: 200;
}
.pricing .price span.amount {
    font-size: 50px;
    font-weight: 100;
}
.pricing .price span.period {
    margin-left: -10px;
}
.pricing .price span.currency {
    letter-spacing: -6px;
    top: -20px;
}
.pricing .price span.currency, .pricing .price span.period {
    font-size: 16px;
}
.pricing .collection li.collection-item:hover{
    background: #f5f5f5;
}
.dark-grey-text {
    color: #121212;
}